* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
    background: hsl(47,88%,63%);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.card {
    width: 384px;
    background: hsl(0,0%,100%);

    border: 1px solid hsl(0,0%,7%);
    border-radius: 20px;

    padding: 24px;
    box-shadow: 8px 8px 0 hsl(0,0%,7%);
}

.card-image {
    width: 100%;
    border-radius: 10%;
    display: block;
}

.tag {
    display: inline-block;
    background: hsl(47,88%,63%);
    color: hsl(0,0%,7%);

    font-size: 14px;
    font-weight: 800;

    padding: 6px 12px;
    border-radius: 4px;

    margin-top: 24px;
}

.date {
    margin-top: 14px;

    font-size: 14px;
    font-weight: 500;

    color: hsl(0,0%,7%);
}

h1 {
    margin-top: 18px;

    font-size: 24px;
    font-weight: 800;

    color: hsl(0,0%,7%);
    cursor: pointer;
    transition: 0.3s;
}

h1:hover {
    color: hsl(47,88%,63%);
}

.description {
    margin-top: 18px;

    font-size: 16px;
    font-weight: 500;

    color: hsl(0,0%,42%);

    line-height: 1.5;
}

.author {
    margin-top: 24px;

    display: flex;
    align-items: center;
    gap: 12px;
}


.author img {
    width: 32px;
    height: 32px;
}

.author span {
    font-size: 14px;
    font-weight: 800;

    color: hsl(0,0%,7%);
}

/* Responsive */
@media (max-width: 375px) {
    .card {
        width:327px;
        padding:20px;
    }

    h1 {
        font-family: 20px;
    }

    .description {
        font-size: 14px;
    }
}
